#define NAMESPACE "treehugger"
#define AUTH_TOKEN "insertAuthToken"
#define DEVICE_SECRET "insertUniqueDeviceSecret"
#define DEVICE_NAME "deviceName(canBeLeftEmptyIfAssignedByServer)"
#define STA_SSID "wifi-ssid" 
#define STA_SECRET "wifi-password" 
#define STA_FB_SSID "fallback-wifi-ssid"
#define STA_FB_SECRET "fallback-wifi-password"
#define AP_SSID "accesspointName"
#define AP_SECRET "accesspointSecret"
#define SERVER_IP "ipOftheServer"
#define SERVER_MDNS "mdnsNameOfTheServer.local"
#define SERVER_PORT "8011"